body {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-1000deg, #464c53, #00010f);
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
img {
    display: flexbox;
    width: 350px;
    height: 500px;
    border-radius: 5%;
    border: 5px solid rgb(0, 57, 179);
}
h1 {
    color: rgb(126, 126, 126);
    text-decoration: none;
    font-size: xxx-large;
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 500%;
}
.container-block .linguagens {
    display: flex; 
    justify-content: center;
}

.container-block .humanas {
    display: flex; 
    justify-content: center;
}

.container-block img {
    margin: 10px; 
}

.horizontal img {
    width: 1050px;
    height: 600px;
    border-radius: 5%;
    border: 5px solid rgb(0, 57, 179);

}



/* Ajustes para telas médias (tablets) */
@media screen and (max-width: 1024px) {
    .container-block .linguagens img, 
    .container-block .humanas img {
        width: 31%; /* Reduz para 3 imagens por linha */
    }

    h2 {
        font-size: 2.5rem;
    }
}

/* Ajustes para telas pequenas (smartphones) */
@media screen and (max-width: 768px) {
    .container-block .linguagens img, 
    .container-block .humanas img {
        width: 48%; /* Duas imagens por linha */
    }

    h2 {
        font-size: 2rem;
    }
}

/* Ajustes para telas menores (smartphones pequenos) */
@media screen and (max-width: 480px) {
    .container-block .linguagens img, 
    .container-block .humanas img {
        width: 100%; /* Uma imagem por linha em telas muito pequenas */
    }

    h2 {
        font-size: 1.5rem;
    }
}
